In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv('preprocessed_test_NIH_mevis.csv')
test_df.head()

,subject_id,Jointpath,Sex,Age,No Finding,Atelectasis,Cardiomegaly,Effusion,Pneumonia,Pneumothorax,Consolidation,Edema
0,72,/bigdata/andrei_thesis/NIH_data/images/images/...,F,60-80,0,1,0,0,0,0,0,0
1,284,/bigdata/andrei_thesis/NIH_data/images/images/...,F,80+,0,0,0,0,0,0,0,0
2,284,/bigdata/andrei_thesis/NIH_data/images/images/...,F,80+,0,0,0,0,0,0,0,0
3,284,/bigdata/andrei_thesis/NIH_data/images/images/...,F,80+,0,0,0,0,0,0,0,0
4,284,/bigdata/andrei_thesis/NIH_data/images/images/...,F,80+,0,0,1,0,0,0,0,0

In [6]:
demo = test_df[['subject_id','Sex','Age']]
demo.head()

   subject_id Sex    Age
0          72   F  60-80
1         284   F    80+
2         284   F    80+
3         284   F    80+
4         284   F    80+

In [7]:
demo = demo.drop_duplicates(subset=['subject_id'], keep="first")
demo.head()

    subject_id Sex    Age
0           72   F  60-80
1          284   F    80+
7          324   M  20-40
25         894   M  40-60
30        1836   F  40-60

In [5]:
print(len(test_df))
print(len(demo))

939
939

In [8]:
demo.to_csv('demographics_NIH.csv', index=False)